In [ ]:
# 3. COLLECTION IN PYTHON

In [5]:
# Creating a list

l1=[1,2,3,4,5,6]
l2=['Apple','Mango','Banana',"Orange"] #python can stored value in both quotation.
print("Integer list:",l1)
print("String list:",l2)

Integer list: [1, 2, 3, 4, 5, 6]
String list: ['Apple', 'Mango', 'Banana', 'Orange']

In [6]:
# Duplicate values in list

l1=[1,2,3,4,5,6,1,2,3]
print("Duplicate value:",l1)

Duplicate value: [1, 2, 3, 4, 5, 6, 1, 2, 3]

In [7]:
# List constructor

l1=list(("Apple","Mango","Orange")) # Double brackets
print(l1)

['Apple', 'Mango', 'Orange']

In [8]:
# List slicing

l1=[1,2,3,4,5,6,7,8,9,10]
print("Current list:",l1)

print("Index 1 value:",l1[1])

print("Index b/w 1:6",l1[1:6])

print("Index till 6",l1[:6])

print("Last value",l1[-1])

Current list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Index 1 value: 2
Index b/w 1:6 [2, 3, 4, 5, 6]
Index till 6 [1, 2, 3, 4, 5, 6]
Last value 10

In [9]:
# List item change

x=["Apple","Mango","Orange","Banana"]
print(x)

x[1:3]=["Grapes","Kiwi"]
print("Updated list:",x)

['Apple', 'Mango', 'Orange', 'Banana']
Updated list: ['Apple', 'Grapes', 'Kiwi', 'Banana']

In [10]:
# Insert into list

l1=[1,2,3,4,5,6]
print(l1)

l1.insert(2,"Python")
print("Updated list:",l1)

[1, 2, 3, 4, 5, 6]
Updated list: [1, 2, 'Python', 3, 4, 5, 6]

In [11]:
# Extend the list

l1=[1,2,3,4,5]
l2=['A','B','C','D']
#Extending the list of l2 into list of l1.
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [12]:
# Remove item from list

#remove(): This method is used to remove element from list.
l1=[1,2,3,4,5,6,7]
print(l1)

l1.remove(3)
print("Updated list:",l1)

[1, 2, 3, 4, 5, 6, 7]
Updated list: [1, 2, 4, 5, 6, 7]

In [13]:
#pop(): This method is used to remove last value from list

l1=[1,2,3,4,5,6,7]
print(l1)

l1.pop()
print("Updated list:",l1)

[1, 2, 3, 4, 5, 6, 7]
Updated list: [1, 2, 3, 4, 5, 6]

In [14]:
# del(): This method is used to remove items from the index.

l1=[1,2,3,4,5,6,7]
print(l1)

del l1[2]
print("Updated list:",l1)

[1, 2, 3, 4, 5, 6, 7]
Updated list: [1, 2, 4, 5, 6, 7]

In [15]:
# clear(): This method is used to clear the list

l1=[1,2,3,4,5,6,7]
print(l1)

l1.clear()
print("Updated list:",l1)

[1, 2, 3, 4, 5, 6, 7]
Updated list: []

TUPLES : IMMUTABLE

In [16]:
# creating a Tuple

t1=("Apple","Orange","Cherry",1,2,3,4)
print(t1)

('Apple', 'Orange', 'Cherry', 1, 2, 3, 4)

In [17]:
# To check length
t1=(1,2,3,4)
print("Size:",len(t1))

Size: 4

INDEXING / SLICING

In [18]:
t1=("Apple","Orange","Cherry",1,2,3,4)
print(t1)

print("Index 1 value:",t1[1])

print("Index between 1 to 6:",t1[1:6])

('Apple', 'Orange', 'Cherry', 1, 2, 3, 4)
Index 1 value: Orange
Index between 1 to 6: ('Orange', 'Cherry', 1, 2, 3)

CONVERT TUPLE INTO LIST

In [19]:
t1=("Apple","Orange","Cherry",1,2,3,4)
print(t1)

x=list(t1)
print(x)

('Apple', 'Orange', 'Cherry', 1, 2, 3, 4)
['Apple', 'Orange', 'Cherry', 1, 2, 3, 4]

TUPLE CONSTRUCTOR

In [20]:
t1=tuple(("Apple","Mango","Cherry"))  # double-round brackets
print(t1)

('Apple', 'Mango', 'Cherry')

Add item but after converting tuple into list

In [21]:
t1=("Apple","Mango","Cherry") 
print(t1)
type(t1)
x=list(t1)
print(x)
type(x)
x[1]="Kiwi"
print("Updated list:",x)
y=tuple(x)
print("Updated Tuple:",y)

('Apple', 'Mango', 'Cherry')
['Apple', 'Mango', 'Cherry']
Updated list: ['Apple', 'Kiwi', 'Cherry']
Updated Tuple: ('Apple', 'Kiwi', 'Cherry')

Loop with Tuple

In [22]:
t1=("Apple","Mango","Cherry")
for i in t1:
    print(i)

Apple
Mango
Cherry

In [23]:
# while loop with tuple

t1=("Apple","Mango","Cherry")
i=0
while i<len(t1):
    print(t1[i])
    i=i+1
else:
    print("Loop finish")

Apple
Mango
Cherry
Loop finish

How to compare Tuples

In [24]:
t1=(1,2,3)
t2=(1,2,4)
print(t1==t2)

print(t1<t2)

print(t1>t2)

False
True
False

DICTIONARY

In [25]:
# Creating a Dictionary

d1={1:"Apple",2:"Orange",3:"Cherry",'A':'B'}
print(d1)
print(type(d1))

{1: 'Apple', 2: 'Orange', 3: 'Cherry', 'A': 'B'}
<class 'dict'>

In [26]:
# list into dictionary store

d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":["Apple","Orange"]}
print(d1)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}

In [28]:
# Access the value of dictionary

d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":"Apple"}
print(d1)
x=d1[3]
print(x)

# acces the value using get()

y=d1.get(1)
print(y)

# Access the value using item()
 #(Tuple into a list)
z=d1.items()
print(z)

# Access the only keys fron dictionary
k=d1.keys()
print(k)

# Access the only values fron dictionary
v=d1.values()
print(v)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': 'Apple'}
Python
C
dict_items([(1, 'C'), (2, 'java'), (3, 'Python'), ('A', 'B'), ('fruit', 'Apple')])
dict_keys([1, 2, 3, 'A', 'fruit'])
dict_values(['C', 'java', 'Python', 'B', 'Apple'])

In [29]:
# Change the values 

d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":["Apple","Orange"]}
print(d1)
d1[3]="Kiwi"
print(d1)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}
{1: 'C', 2: 'java', 3: 'Kiwi', 'A': 'B', 'fruit': ['Apple', 'Orange']}

In [30]:
# Update dictionary by using update()

d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":["Apple","Orange"]}
print(d1)
d1.update({2:"Laddu"})
print(d1)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}
{1: 'C', 2: 'Laddu', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}

In [31]:
# Remove values from Dictionary

d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":["Apple","Orange"]}
print(d1)
# pop()
d1.pop(2)
print(d1)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}
{1: 'C', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}

In [32]:
d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":["Apple","Orange"]}
print(d1)
# using popitem()  : To remove last item
d1.popitem()
print(d1)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}
{1: 'C', 2: 'java', 3: 'Python', 'A': 'B'}

In [33]:
d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":["Apple","Orange"]}
print(d1)
# using del()

del d1[1]
print(d1)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}
{2: 'java', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}

In [34]:
d1={1:"C",2:"java",3:"Python",'A':'B',"fruit":["Apple","Orange"]}
print(d1)
# using clear()
d1.clear()
print(d1)

{1: 'C', 2: 'java', 3: 'Python', 'A': 'B', 'fruit': ['Apple', 'Orange']}
{}

ASSIGNMENT 3

In [3]:
# 1] Write a program to convert tuple into list

tuple=(1,2,3,4)
print(tuple)

list=list(tuple)
print(list)

(1, 2, 3, 4)
[1, 2, 3, 4]

In [4]:
# 2] Write a program to count element in given tuple(1,2,3,4,5,6,7,8).

tuple=(1,2,3,4,5,6,7,8)
print(tuple)
a=tuple.count(2)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8)
1

In [6]:
# 3] Write a program to insert the element "Python" on index 2 in the given list["Java","Php",".Net","Angular"]

list=["Java","Php",".Net","Angular"]
print(list)
list.insert(2,"Python")
print(list)

['Java', 'Php', '.Net', 'Angular']
['Java', 'Php', 'Python', '.Net', 'Angular']

In [8]:
# 4] Write a program to remove the element "3" from the given list [1,2,3,4,5,6]

list=[1,2,3,4,5,6]
print(list)
list.pop(2)
print("Updated list:",list)

[1, 2, 3, 4, 5, 6]
Updated list: [1, 2, 4, 5, 6]